body {
  font-family: Arial, sans-serif; /* Sett fonten for kroppen */
  text-align: center; /* Midtstill all tekst */
  margin-top: 50px; /* Legg til toppmarg */
  background-color: #f4f4f4; /* Sett en lys grå bakgrunnsfarge */
  line-height: 1.6; /* Sett linjehøyden for bedre lesbarhet */
  min-height: 100vh; /* Sørg for at siden tar opp minst hele visningsvinduets høyde */
}

h1, h2 {
  margin-bottom: 20px; /* Legg til bunnmarg */
  color: #333; /* Sett skriftfargen */
}

.legend {
  display: flex; /* Bruk flexbox for layout */
  justify-content: center; /* Sentrer elementer horisontalt */
  align-items: center; /* Sentrer elementer vertikalt */
  margin-bottom: 10px; /* Legg til bunnmarg */
  position: relative; /* Sett posisjon for z-index å fungere */
  z-index: 99; /* Sørg for at verktøytips er over andre elementer */
}

.virksomhetsstyring, .prosjektstyring {
  position: relative; /* Sett posisjon for å sikre at verktøytips fungerer riktig */
  margin: 0 10px; /* Sett horisontal marg */
  padding: 10px 20px; /* Sett polstring inni boksene */
  color: white; /* Sett tekstfarge */
  border-radius: 5px; /* Sett runde hjørner */
  text-align: center; /* Sentrer teksten */
  cursor: pointer; /* Endre markøren til peker ved hover */
  display: flex; /* Bruk flexbox for layout */
  justify-content: center; /* Sentrer innhold horisontalt */
  align-items: center; /* Sentrer innhold vertikalt */
  touch-action: manipulation; /* Bedre berøringsinteraksjon */
}

.virksomhetsstyring {
  background-color: #3498db; /* Sett lys blå bakgrunnsfarge */
}

.prosjektstyring {
  background-color: #388e3c; /* Sett grønn bakgrunnsfarge */
}

.line-container {
  display: flex; /* Bruk flexbox for layout */
  position: relative; /* Sett posisjon for z-index å fungere */
  margin: 0;
  margin-bottom: 10px; /* Legg til bunnmarg */
  z-index: 1; /* Sørg for at linjen er bak verktøytips */
}

.line-container::before {
  content: ""; /* Tomt innhold for pseudo-element */
  position: absolute; /* Sett absolutt posisjon */
  top: 1px; /* Sett topp posisjon */
  left: 10px; /* Sett venstre posisjon */
  width: calc(100% - 20px); /* Beregn bredde */
  height: 2px; /* Sett høyde på linjen */
  background-color: #add8e6; /* Sett lys blå farge */
  z-index: 1; /* Sett z-index for at det er bak elementene */
}

.line-container::after {
  content: ""; /* Tomt innhold for pseudo-element */
  position: absolute; /* Sett absolutt posisjon */
  top: 5px; /* Sett topp posisjon */
  left: calc((110% - 50px) / 7 * 2); /* Beregn venstre posisjon */
  width: calc((160% - 50px) / 7 * 2); /* Beregn bredde */
  height: 2px; /* Sett høyde på linjen */
  background-color: #388e3c; /* Sett grønn farge */
  z-index: 1; /* Sett z-index for at det er bak elementene */
}

.prosessmodell {
  display: flex; /* Bruk flexbox for layout */
  align-items: flex-start; /* Sentrer elementene til toppen */
  justify-content: center; /* Sentrer elementer horisontalt */
  flex-wrap: nowrap; /* Pakk elementene om nødvendig */
  overflow-x: auto; /* Tillat horisontal rulling */
  white-space: nowrap; /* Forhindre linjebryting */
  border: 0; /* Fjern kantlinje */
  padding: 5px; /* Sett polstring inni tidslinjen */
  border-radius: 10px; /* Sett runde hjørner */
  background-color: #f4f4f4; /* Sett lys bakgrunn */
  position: relative; /* Sett posisjon for z-index å fungere */
  z-index: 1; /* Sørg for at tidslinjen holder seg på plass */
  height: auto; /* Sett automatisk høyde */
  min-height: 500px; /* Sett minimum høyde */
}

.phase {
  display: flex; /* Bruk flexbox for layout */
  position: relative; /* Sett posisjon for å sikre at verktøytips fungerer riktig */
  z-index: 10; /* Sørg for at phasene vises riktig */
}

.phase.ide {
  display: flex; /* Bruk flexbox for layout */
  position: relative; /* Sett posisjon for z-index å fungere */
  width: 45px; /* Sett bredde på fasen */
  height: 45px; /* Sett automatisk høyde */
  margin: 10px; /* Sett marg rundt fasen */
  padding: 10px; /* Sett polstring inni fasen */
  text-align: center; /* Sentrer tekst */
  border-radius: 5px; /* Sett runde hjørner */
  border-left: 60px solid transparent; /* Skap trekantform ved bruk av border */
  border-right: 60px solid transparent;
  border-bottom: 120px solid #cccccc; /* Sett trakt-/trekantens farge */
  flex-direction: column; /* Juster elementer i en kolonne */
  justify-content: center; /* Sentrer elementer vertikalt */
  align-items: center; /* Sentrer elementer horisontalt */
  color: white; /* Sett hvit tekst */
  touch-action: manipulation; /* Bedre berøringsinteraksjon */
  background-color: #cccccc; /* Sett grå bakgrunn */
  border: 2px solid gray; /* Sett grå kantlinje */
  z-index: 90; /* Sett høyere z-index for lagdeling */
  margin-top: 30px; /* Juster verdien for å flytte boksen lenger ned */
}

.phase.konsept {
  display: flex; /* Bruk flexbox for layout */
  position: relative; /* Sett posisjon for z-index å fungere */
  width: 150px; /* Sett bredde på fasen */
  height: auto; /* Sett automatisk høyde */
  margin: 10px; /* Sett marg rundt fasen */
  padding: 15px; /* Sett polstring inni fasen */
  text-align: center; /* Sentrer tekst */
  border-radius: 5px; /* Sett runde hjørner */
  flex-direction: column; /* Juster elementer i en kolonne */
  justify-content: center; /* Sentrer elementer vertikalt */
  align-items: center; /* Sentrer elementer horisontalt */
  color: white; /* Sett hvit tekst */
  touch-action: manipulation; /* Bedre berøringsinteraksjon */
  background-color: #add8e6; /* Sett lys blå bakgrunnsfarge */
  border-color: #add8e6; /* Sett lys blå farge på rammen */
  z-index: 70; /* Sett høyere z-index for lagdeling */
}

.phase.planlegge {
  display: flex; /* Bruk flexbox for layout */
  position: relative; /* Sett posisjon for z-index å fungere */
  width: 150px; /* Sett bredde på fasen */
  height: auto; /* Sett automatisk høyde */
  margin: 10px; /* Sett marg rundt fasen */
  padding: 15px; /* Sett polstring inni fasen */
  text-align: center; /* Sentrer tekst */
  border-radius: 5px; /* Sett runde hjørner */
  display: flex; /* Bruk flexbox for layout */
  flex-direction: column; /* Juster elementer i en kolonne */
  justify-content: center; /* Sentrer elementer vertikalt */
  align-items: center; /* Sentrer elementer horisontalt */
  color: white; /* Sett hvit tekst */
  touch-action: manipulation; /* Bedre berøringsinteraksjon */
  background-color: #93d796; /* Sett grønn bakgrunnsfarge */
  border-color: #93d796; /* Sett grønn farge på rammen */
  z-index: 60; /* Sett høyere z-index for lagdeling */
}

.phase.gjennomfore {
  display: flex; /* Bruk flexbox for layout */
  position: relative; /* Sett posisjon for z-index å fungere */
  margin: 10px; /* Sett marg rundt fasen */
  padding: 15px; /* Sett polstring inni fasen */
  text-align: center; /* Sentrer tekst */
  flex-direction: column; /* Juster elementer i en kolonne */
  justify-content: center; /* Sentrer elementer vertikalt */
  align-items: center; /* Sentrer elementer horisontalt */
  color: white; /* Sett hvit tekst */
  touch-action: manipulation; /* Bedre berøringsinteraksjon */
  background-color: #93d796; /* Sett grønn bakgrunnsfarge */
  border-color: #93d796; /* Sett grønn farge på rammen */
  border-radius: 50%; /* Gjør det til en sirkel */
  width: 100px; /* Sett sirkelens bredde */
  height: 100px; /* Sett sirkelens høyde */
  z-index: 50; /* Sett høyere z-index for lagdeling */
  position: relative; /* Sett relatert posisjon for å holde pseudo-element innenfor */
  margin-top: 0; /* Juster verdien for å flytte boksen lenger ned */
}

.phase.avslutte {
  display: flex; /* Bruk flexbox for layout */
  position: relative; /* Sett posisjon for z-index å fungere */
  width: 150px; /* Sett bredde på fasen */
  height: auto; /* Sett automatisk høyde */
  margin: 10px; /* Sett marg rundt fasen */
  padding: 15px; /* Sett polstring inni fasen */
  text-align: center; /* Sentrer tekst */
  flex-direction: column; /* Juster elementer i en kolonne */
  justify-content: center; /* Sentrer elementer vertikalt */
  align-items: center; /* Sentrer elementer horisontalt */
  color: white; /* Sett hvit tekst */
  touch-action: manipulation; /* Bedre berøringsinteraksjon */
  background-color: #93d796; /* Sett grønn bakgrunnsfarge */
  border-color: #93d796; /* Sett grønn farge på rammen */
  border-radius: 5px; /* Sett runde hjørner */
  z-index: 40; /* Sett høyere z-index for lagdeling */
}

.phase.realisere {
  display: flex; /* Bruk flexbox for layout */
  position: relative; /* Sett posisjon for z-index å fungere */
  width: 150px; /* Sett bredde på fasen */
  height: auto; /* Sett automatisk høyde */
  margin: 10px; /* Sett marg rundt fasen */
  padding: 15px; /* Sett polstring inni fasen */
  text-align: center; /* Sentrer tekst */
  border-radius: 5px; /* Sett runde hjørner */
  flex-direction: column; /* Juster elementer i en kolonne */
  justify-content: center; /* Sentrer elementer vertikalt */
  align-items: center; /* Sentrer elementer horisontalt */
  touch-action: manipulation; /* Bedre berøringsinteraksjon */
  background-color: #add8e6; /* Sett lys blå bakgrunnsfarge */
  border-color: #add8e6; /* Sett lys blå farge på rammen */
  color: white; /* Sett hvit tekst */
  z-index: 30; /* Sett høyere z-index for lagdeling */
}

.arrow .number {
  transform: rotate(-45deg); /* Roter nummeret tilbake */
  color: white; /* Sett hvit tekst */
  font-size: 5px; /* Sett skriftstørrelse for nummer */
}

.arrow .tooltiptext {
  transform: rotate(-45deg) !important; /* Roter tooltip tilbake */
}

.arrow.bp1, .arrow.bp2, .arrow.bp3, .arrow.bp4, .arrow.bp5, .arrow.bp6 {
  position: relative; /* Sett posisjon for z-index å fungere */
  width: 10px; /* Sett pilens bredde */
  height: 10px; /* Sett pilens høyde */
  transform: rotate(45deg); /* Roter for å lage diamant */
  margin: 0 10px; /* Sett horisontale marger */
  display: flex; /* Bruk flexbox for layout */
  align-items: center; /* Sentrer elementer vertikalt */
  justify-content: center; /* Sentrer elementer horisontalt */
  cursor: pointer; /* Endre markøren til pekeren ved hover */
  touch-action: manipulation; /* Bedre berøringsinteraksjon */
  margin-top: 41px; /* Juster verdien for å flytte boksen lenger ned */
}

.arrow.bp1, .arrow.bp2, .arrow.bp6 {
  background-color: #3498db; /* Sett lys blå bakgrunnsfarge */
  border: 2px solid #3498db; /* Sett lys blå kantlinje */
  z-index: 140; /* Sett høyere z-index for lagdeling */
}

.arrow.bp3, .arrow.bp4, .arrow.bp5 {
  background-color: #388e3c; /* Sett grønn bakgrunnsfarge */
  border: 2px solid #388e3c; /* Sett grønn kantlinje */
  z-index: 1500; /* Sett høyere z-index for lagdeling */
}

.tooltip .tooltiptext {
  white-space: normal; /* Tillat linjebryting i verktøytips */
  visibility: hidden; /* Skjul verktøytips som standard */
  width: 200px; /* Sett verktøytipsens bredde */
  background-color: #333; /* Sett mørk bakgrunn */
  color: #fff; /* Sett hvit tekstfarge */
  text-align: center; /* Sentrer tekst */
  border-radius: 6px; /* Sett runde hjørner */
  padding: 5px; /* Sett polstring innvendig */
  position: absolute; /* Sett absolutt posisjon */
  z-index: 1; /* Sett z-index for at verktøytips er over andre elementer */
  top: calc(100% + 5px); /* Posisjoner under elementet */
  left: 50%; /* Sentrer horisontalt */
  transform: translateX(-50%); /* Juster posisjonen */
  opacity: 0; /* Skjult som standard */
  transition: opacity 0.3s; /* Sett fade-in effekt */
}

.tooltip .tooltiptext::after {
  content: ""; /* Tomt innhold for pseudo-element */
  position: absolute; /* Sett absolutt posisjon */
  top: -5px; /* Posisjoner pilen på toppen */
  left: 50%; /* Sentrer horisontalt */
  transform: translateX(-50%); /* Juster posisjonen */
  border-width: 5px; /* Sett pilens størrelse */
  border-style: solid; /* Sett solid kantbilde */
  border-color: transparent transparent #333 transparent; /* Sett trekantens farge */
}

.tooltip:hover .tooltiptext,
.tooltip:focus .tooltiptext {
  visibility: visible; /* Vis verktøytips ved hover eller fokus */
  opacity: 1; /* Sett fullstendig opakt */
}

.tooltip .tooltiptext a {
  color: #66b3ff; /* Sett farge til lenken */
  text-decoration: none; /* Fjern understrek under lenken */
  margin-top: 10px; /* Legg til toppmarg for avstand */
  display: block; /* Gå lenken til en blokk for å få marg til å fungere */
}

.tooltip .tooltiptext a:hover {
  text-decoration: underline; /* Understrek når man svever over lenken */
}

.highlighted {
  font-size: medium;  /* Endre skriftstørrelsen for padriver */
  color: #ffffff;  /* Endre skriftfarge */
  font-weight: bold;  /* Sett teksten til normal vekt */
  display: block; /* Sett display til blokk for paddriver */
  margin-top: 1px; /* Legg til toppmarg for avstand */
}

.normal {
  font-size: normal;  /* Endre skriftstørrelsen for padriver */
  color: #ffffff;  /* Endre skriftfarge */
  font-weight: normal;  /* Sett teksten til normal vekt */
  display: block; /* Sett display til blokk for paddriver */
  margin-top: 1px; /* Legg til toppmarg for avstand */
}

.text {
  font-size: small;  /* Endre skriftstørrelsen for padriver */
  color: #ffffff;  /* Endre skriftfarge */
  font-weight: normal;  /* Sett teksten til normal vekt */
  display: block; /* Sett display til blokk for paddriver */
  margin-top: 1px; /* Legg til toppmarg for avstand */
}

.padriver {
  font-size: small;  /* Endre skriftstørrelsen for padriver */
  color: #ffffff;  /* Endre skriftfarge */
  font-weight: normal;  /* Sett teksten til normal vekt */
  display: block; /* Sett display til blokk for paddriver */
  margin-top: 1px; /* Legg til toppmarg for avstand */
}

.eier {
  font-size: small;  /* Endre skriftstørrelsen for padriver */
  color: #ffffff;  /* Endre skriftfarge */
  font-weight: normal;  /* Sett teksten til normal vekt */
  display: block; /* Sett display til blokk for paddriver */
  margin-top: 1px; /* Legg til toppmarg for avstand */
}

.ansvar {
  font-size: small;  /* Endre skriftstørrelsen for padriver */
  color: #ffffff;  /* Endre skriftfarge */
  font-weight: normal;  /* Sett teksten til normal vekt */
  display: block; /* Sett display til blokk for paddriver */
  margin-top: 1px; /* Legg til toppmarg for avstand */
}

@media (max-width: 768px) {
  .timeline {
    flex-direction: column; /* Stable elementer vertikalt */
    align-items: center; /* Sentrer elementer horisontalt */
    justify-content: flex-start; /* Juster elementer til starten */
    position: relative; /* Sett posisjon for z-index å fungere */
    padding: 10px; /* Sett polstring innvendig */
  }

.line-container::before {
  content: ""; /* Tomt innhold for pseudo-element */
  position: absolute; /* Sett absolutt posisjon */
  top: 1px; /* Sett topp posisjon */
  left: 10px; /* Sett venstre posisjon */
  width: calc(100% - 20px); /* Beregn bredde */
  height: 2px; /* Sett høyde på linjen */
  background-color: #add8e6; /* Sett lys blå farge */
  z-index: 1; /* Sett z-index for at det er bak elementene */
}

.line-container::after {
  content: ""; /* Tomt innhold for pseudo-element */
  position: absolute; /* Sett absolutt posisjon */
  top: 5px; /* Sett topp posisjon */
  left: calc((110% - 50px) / 7 * 2); /* Beregn venstre posisjon */
  width: calc((160% - 50px) / 7 * 2); /* Beregn bredde */
  height: 2px; /* Sett høyde på linjen */
  background-color: #388e3c; /* Sett grønn farge */
  z-index: 1; /* Sett z-index for at det er bak elementene */
}

a.link-les-mer {
  color: #388e3c; /* Egendefinert farge for 'Les mer' lenker */
  text-decoration: none; /* Fjern understrekning */
}

a.link-les-mer:hover {
  text-decoration: underline; /* Understrekning ved hover hvis ønsket */
}

a.link-padriver {
  color: #3498db; /* Egendefinert farge for 'padriver' lenker */
  text-decoration: none; /* Fjern understrekning */
}

a.link-padriver:hover {
  text-decoration: underline; /* Understrekning ved hover hvis ønsket */
}

a.link-ansvar {
  color: #cc0000; /* Egendefinert farge for 'ansvar' lenker */
  text-decoration: none; /* Fjern understrekning */
}

a.link-ansvar:hover {
  text-decoration: underline; /* Understrekning ved hover hvis ønsket */
}
